/Campeonato.Api/obj
/Campeonato.Api/bin
/Campeonato.Data/obj
/Campeonato.Data/bin
/Campeonato.Model/obj
/Campeonato.Model/bin
/Campeonato.Resourses/obj
/Campeonato.Resourses/bin
/Campeonato.Service/obj
/Campeonato.Service/bin
/Campeonato.Test/obj
/Campeonato.Test/bin
